<div class="titulo-cadastro">
    <h1>Lista convidados</h1>
</div>

<div class="card mx-auto" style="max-width: 35rem;">
    <div class="card-body " >
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cpf</th>
                <th scope="col">O que vai levar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let participante of participantes">
                <td class="text-center" >{{participante.id}}</td>
                <td>{{participante.nome}}</td>
                <td>{{participante.cpf}}</td>
                <td>{{participante.item}}</td>
              </tr>
            </tbody>
          </table>
        
    </div>
</div>