@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-color: #f2f2f2;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.green {
    background-color: #2BBBAD;
}
.titulo-cadastro{
    display: flex;
    margin-top: 50px; 
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}